em{font-style:normal;}
body,input,select,textarea{font-size:15px;}
body{background-color:#f0f0f0;}
.red{color:#FF0000!important;-webkit-text-fill-color: #FF0000 !important;}
.blue{color:#1e93cc!important;-webkit-text-fill-color: #1e93cc !important;}
.green{color:#4cd964!important;-webkit-text-fill-color: #4cd964 !important;}
.yellow{color:#f0ad4e!important;-webkit-text-fill-color: #f0ad4e !important;}
.actives{color:#5f1d3d!important;-webkit-text-fiteamll-color: #5f1d3d !important;}
.write{color:#fff!important;}
.gray{color:#999!important;}
.gray-bg{    background: #efeff4 !important;}
.black{color:#000!important;}
.ui-page-login{background:#fff;}
img{width: 100%;}
.mui-btn-outlined.mui-btn-blue,.mui-btn-outlined.mui-btn-primary{color:#1fa1fd;}
.mui-input-group .mui-input-row{height:50px;}
.mui-input-row label{padding:17px 15px;}
.none.mui-table-view-cell:after{height: 0;}
.mui-table-view-divider:after,.mui-table-view-divider:before{height: 0;}
.mui-popup-button{/* margin:15px; *//* border-radius:5px!important; *//* background:#159dfd; *//* color:#fff; *//* font-weight:400!important; */}
p{font-size:16px;}
input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select,textarea{padding:10px 15px;height:50px;line-height:1.5rem;}
.mui-btn-outlined{background-color:transparent!important;}
.mui-popup{/* top:40%; *//* width:85%; */}
.check{display:inline-block;padding:0 0 0 1.6rem;background:url(../images/icon-check.png) no-repeat;background-size:1pc;color:#999;text-align:justify;font-size:9pt;line-height:1.625rem;background-position-y:.4rem;}
.mui-content>.mui-table-view:first-child{margin-top:0;}
.mui-btn-block{font-size:16px;padding: 10px 0;}
.blue{color:#1e93cc!important;}
.write{color:#fff!important;}
.gray{color:#999!important;-webkit-text-fill-color:#999!important;}
.black{color:#000!important;}
.yellow{color:#FFAE00!important;}
.ui-page,body{margin:0;padding:0;width:100%;height:100%;}
html{background-color:#efeff4;}
body{background-color:rgba(239,239,244,0);}
.ui-page{background:#fff!important;}
.hide{display:none;}
.line{padding:5px 15px;background-color:#f0f0f0;color:#010101;}
.linew{padding:15px;background-color: #f0f0f0;}
.line15{padding:10px;}
.line20{padding:20px 0;}
.mui-bar-tab .mui-tab-item.mui-active{color: #5f1d3d; }
.mui-bar .mui-btn-block{top:0;padding: 10px 0;}
.mui-bar .mui-btn{top:0;}
.mui-btn,button,input[type=button],input[type=reset],input[type=submit]{}
.mui-switch-blue.mui-active{border: 2px solid #5f1d3d;background-color: #5f1d3d;}
.mui-input-group .mui-input-row{height:45px;}
.mui-input-row label{padding:15px 0 15px 15px;}
.mui-pciker-rule-ft{border: none;}
.mui-poppicker{border-top:solid 1px #eee;background-color:#eee;box-shadow:0 -5px 7px 0 transparent;}
.mui-popup-title+.mui-popup-text input{border:1px solid #999!important;border-radius:5px;text-align:center;}
#apply.mui-btn:disabled{border:1px solid #999!important;background-color:#999!important;}
input:disabled{color:#000;-webkit-text-fill-color:#000;-webkit-opacity:1;}
input[type=text]:disabled,input[type=tel]:disabled{color:#000;-webkit-text-fill-color:#000;-webkit-opacity:1;}
.mui-toast-container{bottom:50%!important;}
.mui-bar-tab~.mui-content{padding-bottom:65px;}
.mui-dtpicker-header button{padding:5px 10px;padding:3px 10px;border:none;background:0 0;color:#000;font-size:9pt;font-size:15px!important;}
.mui-btn-danger,.mui-btn-negative,.mui-btn-red{border:1px solid #c81428;background-color:#c81428;}
.mui-input-group .mui-input-row .mui-navigate-right:after{right:11px;}
.mui-slider .mui-slider-group{margin-top:44px;}
.mui-input-group .mui-input-row .mui-navigate-right input{padding-right:1.7rem;}
.mui-input-row label~input.mui-input-clear:focus{padding-right:30px!important;}
.mui-input-row .checkdode~input.mui-input-clear:focus{padding-right:6.7rem!important;}
.mui-input-row .checkdode~input.mui-input-clear~.mui-icon-clear{right:76px;}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{border:none;}
.mui-bar{background:#fff;-webkit-box-shadow:none;box-shadow:none;}
.mui-bar-nav{position:fixed!important;top:0!important;z-index:999!important;margin-top:0;height:65px!important;background-color: #5f1d3d!important;box-shadow:none!important;}
.mui-bar-nav .mui-title{padding-top:21px;padding-bottom:0;color:#fff;}
.mui-bar-nav .mui-icon{padding-top:14px;padding-bottom:10px;color:#fff;}
.mui-bar-nav .mui-btn-link{padding-top:20px!important;padding-bottom:0;border:none!important;color:#fff!important;font-size:15px;}
.mui-bar-nav~.mui-content{padding-top:65px;}
.mui-input-group .mui-input-row .mui-navigate-right input{padding-right:1.7rem;}
.mui-btn-primary{border: 1px solid #5f1d3d!important;background-color: #5f1d3d!important;}
.mui-btn-outlined.mui-btn-blue,.mui-btn-outlined.mui-btn-primary{color: #5a0e34;}
.mui-input-group .mui-input-row:after,.mui-input-group:after,.mui-input-group:before{background-color: #f0f0f0;}
.mui-input-group:after,.mui-input-group:before{left:15px;height:0;}
.line-t.mui-input-group:before,.mui-input-group:after{height:1px;}
.line-t.mui-table-view:after{height:1px;background-color:#d9d9d9;}
.line-t.mui-table-view:first-child:after{left:15px;}
.mui-input-row .mui-input-clear~.mui-icon-clear,.mui-input-row .mui-input-password~.mui-icon-eye,.mui-input-row .mui-input-speech~.mui-icon-speech{top:.8rem;}
.mui-table-view:after,.mui-table-view:before{height:0;}
.mui-table-view-cell p{margin-bottom:5px;}
.mui-card-content-inner p:last-child,.mui-table-view-cell p:last-child{margin-bottom:0;}
.mui-card-header{font-size:19px;}
.mui-poppicker-header .mui-btn{padding: 0;line-height: 34px;}
.mui-poppicker-btn-cancel{border:none;background:0 0;font-size:24px!important;line-height:1.02}
.mui-poppicker-btn-cancel:after{content:"×"}
.mui-poppicker-btn-ok{border:none;background:0 0;color: #5f1d3d;font-size:15px!important;}
.poppicker-title{position:absolute;right:65px;left:65px;display:inline-block;overflow:hidden;margin:-6px -10px;padding:0;color:#000;text-align:center;text-overflow:ellipsis;white-space:nowrap;font-weight:500;font-size:17px;line-height: 46px;}
.mui-popup-button.mui-popup-button-bold{color:#09F;font-weight:400;}
.mui-popup-input input{border:1px solid #999!important;border-radius:5px;text-align:center;}
.mui-popup-button{color:#010101;}
.mui-popup-title{margin:9px 0 17px 0;}
.mui-table-view-divider{padding: 8px 15px;background-color:#f0f0f0;font-size:  15px;color:  #000;}
.mui-table-view-divider.none:after,.mui-table-view-divider.none:before{height:0;}

.mui-input-group .mui-input-row .creValid.mui-navigate-right:after{right:67px}
.mui-input-group .mui-input-row .creValid.mui-navigate-right input{margin-right:53px;width:164px}
.mui-input-group .mui-input-row .creValid span{position:absolute;right:0;margin-top:9px;padding-left:1.5rem;margin-right:16px;border-left:1px solid #bbb;background-position-x:.4rem;background-position-y:.3rem}





p{font-size:16px;}
input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select,textarea{padding:8px 15px;height:45px;border:none;font-size:15px;line-height:1.5rem;}
.mui-btn-outlined{background-color:transparent!important;}
.mui-popup{/* width:75%; */}
.check{display:inline-block;padding:0 0 0 1.6rem;background:url(../images/icon-check.png) no-repeat;background-size:1pc;color:#999;text-align:justify;font-size:9pt;line-height:1.625rem;background-position-y:.4rem;}


.checkin{background:url(../images/icon-checkin.png) no-repeat;background-size:1pc;background-position-y:.4rem;}
.checkall{display:inline-block;padding:.2rem 1rem .1rem 2rem;background:url(../images/radio.png) no-repeat;background-size:25px;color:#010101;text-align:justify;}
.checkallin{background:url(../images/radioin.png) no-repeat;background-size:25px;}
.mui-focusin>.mui-bar-header-secondary,.mui-focusin>.mui-bar-nav{position:fixed;}
.mui-focusin>.mui-bar~.mui-content{padding-bottom:0;}
.mui-table-view-cell{padding: 12px 15px;}
.mui-content>.mui-table-view:first-child{margin-top:0;}
.mui-card .mui-input-row .titles{font-size:17px;}
.code-text{width:132px;}
.icon~label{padding:14px 0 14px 56px;width:72%;}
.icon~a{padding-left:34px!important;}
.codeinp{padding-right:90pt!important;width:175px!important;}
.checkdode~input{float:right!important;padding-right:5.7rem;width:260px!important;text-align:right!important;}
.sendcode~input{float:right!important;padding-right:65pt;width:230px!important;text-align:right!important;}
.typecard{padding:15px 0 15px 12px!important;width:75px!important;}
.msgcode{position:absolute;top:9px!important;right:1pc;z-index:0;padding:6px 10px!important;width:auto!important;text-align:center;}
.icon~input{padding:14px 15px 14px 34px;}
.sendcode{position:absolute;top:9px!important;right:1pc;padding:6px 10px!important;width:90px!important;text-align:center;}
.checkdode{position:absolute;top:15px!important;right:1pc;padding:1px 9px!important;width:67px!important;border-left:1px solid #E5E5E5;border-radius:0;text-align:center;line-height:41px;}
.sendcodein{border:1px solid #999!important;color:#999!important;}
.huji label{width:130px!important;}
.huji input{width:10pc!important;}
.mont label{padding:14px 0 14px 15px;width:160px!important;}
.mont input{width:10.1pc!important;}
.tels label{padding:12px 0 12px 15px;width:134px!important;}
.data{text-align:center;}
.data-icon{display:inline-block;margin:0 auto;margin-top:11rem;width:4rem;height:4.4rem;text-decoration:none;font-weight:400;font-style:normal;font-size:24px;font-family:Muiicons;line-height:1;-webkit-font-smoothing:antialiased;}
.load-icon{margin:0 auto;width:5rem;height:5rem;background-size:5rem 5rem;}
.icon-success{background:url(../images/icon-success.png) no-repeat;background-size:100% auto;}
.icon-none{background:url(../images/icon-none.png) no-repeat;background-size:100% auto;}
.icon-network{background:url(../images/icon-network.png) no-repeat;background-size:100% auto}

.data-title{margin-top:1.5rem;color:#000;}
.icon-logo+.mui-title{left:95px;}
.mui-input-group.list .mui-input-row{height:56px;}
.mui-input-group.list .mui-badge-primary{padding:0;width:40px;height:40px;background-color:#6AABFB;text-align:center;line-height:40px;}
.mui-input-group.list .mui-table-cell{vertical-align:middle;}
.mui-input-group.list .mui-input-row label{padding:8px 15px;}
.mui-input-group.list .mui-radio input[type=radio]:checked:before{content:'\e442';}
.mui-input-group.list .mui-radio input[type=radio]{top:12px;}
.mui-checkbox input[type=checkbox]:checked:before,.mui-radio input[type=radio]:checked:before{color: #5f1d3d;}
/*insurance start*/
.apply .mui-grid-view.mui-grid-9 .mui-table-view-cell{padding:19px 0;border-right:1px solid #e5e5e500;border-bottom:1px solid #e5e5e5d4;background:#fff;}
.apply .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{margin-top:14px;height:18px;font-size:14px;line-height:18px;}
.apply .mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn){padding:0;}
.apply .mui-grid-view.mui-grid-9{border-bottom:1px solid #e5e5e5d4;background-color:#fff;}
.apply .mui-grid-view.mui-grid-9 .mui-media .mui-icon{width:2.7rem;height:2.7rem;border-radius:100%;font-size:1.5rem;line-height:2.7rem;}
.order.apply .mui-grid-view.mui-grid-9 .mui-media .mui-icon{font-size:1.7rem;}
.order.apply .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{margin-top:0;}
.work .icon-renshouxian{background:#fd9d21;color:#fff;}
.work .icon-chexiandingdan{background:#ff6767;color:#fff;}
.work .icon-beibaoxianren{background:#4dc6ee;color:#fff;}
.work .icon-jixiexingye{background:#8a90fa;color:#fff;}
.work .icon-jianzhuwu{background:#fed030;color:#fff;}
.work .icon-baozhangzeren{background:#ff80c2;color:#fff;}
.work .icon-yiwaixian{background:#599eec;color:#fff;}
.work .icon-car{background:#06c1ae;color:#fff;}


.work .icon-meirong{background:#fed030;color:#fff;}
.work .icon-cheliangxinxi{background:#ff6767;color:#fff;}
.work .icon-ershoucheguanli{background:#8a90fa;color:#fff;}
.work .icon-dkw_daikuan{background:#4dc6ee;color:#fff;}
.work .icon-38{background:#06c1ae;color:#fff;}



.order .icon-renshouxian{color:#fd9d21;}
.order .icon-chexiandingdan{color:#ff6767;font-size:23px!important;}
.order .icon-beibaoxianren{color:#4dc6ee;font-size:23px!important;}
.order .icon-jixiexingye{color:#8a90fa;font-size:24px!important;}
.order .icon-jianzhuwu{color:#fed030;font-size:24px!important;}
.order .icon-baozhangzeren{color:#ff80c2;}
.order .icon-yiwaixian{color:#599eec;}
.order .icon-car{color:#06c1ae;}


.order .icon-meirong{color:#fed030;font-size: 23px!important;}
.order .icon-cheliangxinxi{color:#ff6767;font-size: 28px!important;}
.order .icon-ershoucheguanli{color:#8a90fa;font-size: 23px!important;}
.order .icon-dkw_daikuan{color:#4dc6ee;font-size:23px!important}
.order .icon-38{color:#06c1ae;font-size:23px!important}



.order .update{float:right;margin:0 4px;margin-right:0!important;padding:0 5px;border-radius:100px;color:#fff;font-style:normal;font-size:12px;}
.order .update.cj{background-color: #ffffff00;border: 1px solid #33aa35;color: #33aa35;}
.order .update.db{background-color: #d33b3b;}
.order .mui-table-view-chevron .mui-table-view-cell>a:not(.mui-btn){margin-right:-100px;}
.order .mui-table-view-cell>a:not(.mui-btn){margin: -17px -15px;}
.order .iconfont{margin: 0px auto;margin-right:.3rem;width:26px;height:28px;vertical-align:middle;font-size:26px;}
.apply .mui-table-view-cell .mui-navigate-right>.mui-badge{right:60px;}
.apply .mui-table-view-cell .mui-navigate-right>.mui-badge.mui-badge-success{right:60px;}
.mui-push-right:after,.order .mui-navigate-right:after{right:50px;}
.apply.files .mui-icon{color: #5f1d3d;font-size:1.6rem!important;}
.member .mui-card{    box-shadow: 0 1px 2px rgba(255, 255, 255, 0);}
.member .mui-card-header.mui-card-media .mui-btn{    font-size: 12px;
    padding: 4px 25px;
    border-radius: 10px;
    margin: 1rem 0 0 0;}

.member .mui-card-header:after{    background-color: #ffffff;}

.member .mui-col-xs-12 {margin-top: 1rem;}
.member .mui-col-xs-12 .mui-col-xs-5{background: #FFF;box-shadow: 0 0 10px #9f9c9c;border: 1px solid white;border-radius: 6px;padding: 0.5rem 0;}

 .member .order .mui-icon {color: #5f1d3d !important;}
.member .mui-card-header.mui-card-media{    height: 190px;
    background-image: url(../../images/member-bg.png);
    background: linear-gradient(to bottom, #5f1d3d 70%, white 30%);}
.member .mui-card{margin: 0;}
.question{height: 100px;margin-bottom: 0 !important;padding-bottom: 0 !important;text-align: justify;}
.orderlist .mui-navigate-right:after,.orderlist  .mui-push-right:after{right: auto;content: '\e581';}
.orderlist .mui-navigate-right.mui-active:after, .orderlist .mui-push-right.mui-active:after{content: '\e580';}
.orderlist .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{border: none;}

.orderlist .mui-popover .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{border-bottom: 1px solid #c8c7cc;}


.orderlist .mui-backdrop{top: 50px;}

.orderlist .mui-scroll-wrapper{top: 60px;}

.orderlist.member .mui-scroll-wrapper {
    top: 155px;
}

.orderlist.member .mui-pull-top-pocket {
    top: -10px;
}

.orderlist .mui-table-view-cell p{margin-bottom: 17px;}
.orderlist .mui-slider-indicator.mui-segmented-control{background: #fff;}
.orderlist .mui-popover.mui-popover-action.mui-active{top: 50px;}
.orderlist .mui-popover.mui-popover-action .mui-table-view{color: #000;}

.mui-popover.mui-popover-action.mui-active {
    top: 0px;
}
.cartextcon.mui-popover.mui-popover-action.mui-active {
    top: auto;
}

.orderlist  .mui-popover .mui-table-view{max-height: 100%;}
.orderlist .mui-row.mui-fullscreen>[class*="mui-col-"] {
	height: 100%;
}
.orderlist .mui-col-xs-3,
.orderlist .mui-control-content {
	overflow-y: auto;
	height: 100%;
	vertical-align:  middle;
}

.orderlist .mui-segmented-control .mui-control-item {
	line-height: 50px;
	width: 100%;
}

.orderlist .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	background-color: #fff;
}
.orderlist .mui-slider-indicator.mui-segmented-control{margin-top: 0;}

.orderlist.file .mui-scroll-wrapper{top: 100px;}
.orderlist.team .mui-scroll-wrapper{top: 130px;}

.mui-search .mui-placeholder{    line-height: 45px;height: 45px;}
.mui-popover.mui-popover-action .mui-table-view{margin: 0;border-radius: 0;}
/*car*/
.cartext{    border: 1px solid #5f1d3d;
    padding: 5px;
    border-radius: 3px;
    color: #5f1d3d;
    margin-left: 5px;}
.iphone-keyboard{max-width:100%;height:100%}
.iphone-keyboard button{display:inline-block;width:9%;padding:.02em 0 .03em;color: #5f1d3d;text-decoration:none;text-align:center;border-radius:5px;height:40px;margin-bottom:10px;background: #fff;border: 1px solid #5f1d3d;}
.iphone-keyboard button:HOVER{background: #5f1d3d;color:#FFF;}
.iphone-keyboard.cbckey button:HOVER{background: #5f1d3d;color:#FFF;}
.iphone-keyboard .function_btn{width:13%}
.iphone-keyboard .function_dis{background:#EEE}
.iphone-keyboard .function_dis:HOVER{background:#EEE;color:#585858}
.iphone-keyboard .carsubmit{color:#009DDA;text-align:right;padding-right:10px;background:#F1F1F1;padding-top:0;margin-top:-10px;margin-bottom:20px;padding:4px 10px}
.iphone-keyboard.cbckey .carsubmit{color:#009DDA}
.cartextcon{background: #fff !important;}
.cartextcon.mui-popover.mui-popover-action .mui-table-view{margin: 8px 0;}
 .car-bro .mui-card{margin: 0;box-shadow: 0 1px 2px rgba(0, 0, 0, 0);}
  .car-bro .mui-card .mui-table-cell{vertical-align: middle;}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #5f1d3d;
    padding: 0 10px;
    font-weight: 800;
    }
    .mui-segmented-control.mui-scroll-wrapper .mui-control-item{padding: 0 10px;}

.mui-table-view~.mui-fullscreen .mui-slider-indicator.mui-segmented-control {
				background-color: #ffffff;
				margin-top: 55px;
			}
			
.mui-table-view~.mui-fullscreen .mui-segmented-control~.mui-slider-group {
				top: 60px;
			}
			
			
.mui-fullscreen .mui-segmented-control~.mui-slider-group {
    top: -5px;}
.hand .mui-navigate-right input {padding-right: 1rem !important}
.hand .mui-navigate-right:after{content: ''}

.radio{padding:3px 0 3px 22px;padding-right:0;background:url(../images/radio.png) no-repeat left;background-size:20px 20px;text-align:justify}
.radio.on{background:url(../images/radioin.png) no-repeat left;background-size:20px 20px}



.mui-table-view .mui-media-body .mui-table .mui-table-cell{vertical-align: middle;}

.mui-table-view .mui-media-object {
    line-height: 60px;
    max-width: 60px;
    height: 60px;
}

.pay.mui-table-view .mui-media-object {
    line-height: 42px;
    max-width: 42px;
    height: 42px;
}



.edit{background-color: #5f1d3d;    padding: 5px 14px;}
/*insurance end*/
.submit{position:fixed!important;z-index:99999;top:0;right:0;bottom:0;left:0;-webkit-transition-duration:.4s;transition-duration:.4s;background: rgba(255, 255, 255, 0);width:100%;height:100%;}
.rotate{margin: 70% auto;width: 100%;-webkit-animation:rotating 1.2s linear infinite;-moz-animation:rotating 1.2s linear infinite;-o-animation:rotating 1.2s linear infinite;animation:rotating 1.2s linear infinite;width: 100px;background: #fff;border-radius: 10px;height: 100px;padding: 18px;}
[v-cloak]{display:none;}
@media screen and (max-width:320px){
	.checkdode~input{width:250px!important;}
	.sendcode~input{width:186px!important;}
	.apply .mui-grid-view.mui-grid-9 .mui-table-view-cell{padding:10px 0;}
	.apply .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{margin-top:4px;font-size:13px;}
	.apply .mui-grid-view.mui-grid-9 .mui-media .mui-icon{width:2.2rem;height:2.2rem;border-radius:100%;font-size:1.2rem;line-height:2.2rem;}
	.apply.files .mui-icon{font-size:1.3rem!important;}
	.mui-slider .mui-slider-group .mui-slider-item{font-size:13px;}
body,input,select,textarea{font-size:14px;}
.iphone-keyboard button{width:29px;height:29px}
}
@media screen and (min-width:321px) and (max-width:360px){
	.sendcode~input{width:220px!important;}
	.apply .mui-grid-view.mui-grid-9 .mui-table-view-cell{padding:15px 0;}
	.apply .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{margin-top:4px;font-size:13px;}
	.apply .mui-grid-view.mui-grid-9 .mui-media .mui-icon{width:2.2rem;height:2.2rem;border-radius:100%;font-size:1.2rem;line-height:2.2rem;}
	.apply.files .mui-icon{font-size:1.5rem!important;}
	.iphone-keyboard button{width:29px;height:29px}
}
@media screen and (min-width:361px) and (max-width:375px){
	.sendcode~input{width:220px!important;}
	.checkdode~input{width:260px!important;}
	.apply .mui-grid-view.mui-grid-9 .mui-table-view-cell{padding:12px 0;}
	.apply .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{margin-top: 7px;}
	.apply .mui-grid-view.mui-grid-9 .mui-media .mui-icon{width:2.5rem;height:2.5rem;border-radius:100%;font-size:1.4rem;line-height:2.5rem;}
	.order .mui-table-view-cell>a:not(.mui-btn){font-size: 15px;}
	.iphone-keyboard button{width:32px;height:32px}
}
@media screen and (min-width:376px) and (max-width:414px){
	.iphone-keyboard button{width:35px;height:35px}
	.apply.files .mui-icon{font-size:2rem!important;}
}
@media screen and (min-width:415px){
	.card-right{float:left;margin-left:9%;width:68%;height:100%;}
	.huji input{width:15pc!important;}
}
@media screen and (min-height:481px) and (max-height:568px){
	.iphone-keyboard button{width:27px;height:27px}
}
/*login start*/
.login{background-color:#FFF}
.logo-nav{padding:2.5rem 0 1.5rem;text-align:center}
.logo-nav img{width: 7rem;}
.login .mui-input-group:after,.login .mui-input-group:before{height:0}
.login .mui-input-group .mui-input-row:after{right:15px;left:0}
.login .mui-input-group em{position:absolute;top:0;left:0;z-index:1;margin:9pt 0;color:#6ecb09;text-align:center;font-size:1pc;line-height:40px}
.login .mui-input-group .mui-input-row{margin-left:30px}
.login .mui-input-row em~input{padding:10px 25px;}
.login .mui-content-padded{margin-top:3rem}
.login .sendcode{position:absolute;top:0;top:10px;right:1pc;z-index:1;padding:6px 10px;width:92px;text-align:center}
.login .sendcodein{border:1px solid #999;color:#999}
.icon-payment,.icon-pwd,.icon-tel{display:inline-block;height:1.12rem;height:23px;vertical-align:middle}
.icon-pwd{width:15px;background:url(../images/icon-pwd.png) no-repeat;background-position:left center;background-size:100% auto}
.icon-tel{width:13px;background:url(../images/icon-tel.png) no-repeat;background-position:left center;background-size:100% auto}
/*login end*/
.mui-progressbar-warning span {
    background-color: #f0ad4e;
}
.mui-progressbar{height: 10px;margin-bottom: 0 !important;}
.mercht{    float: right;
    width: 65%;
    margin-bottom: 0;
    text-align: right;
    color: #757575;
    padding: 8px 15px;
    height: 45px;
    border: none;
    font-size: 15px;
    line-height: 2rem;
    padding-right: 28px;}


.mui-segmented-control.mui-scroll-wrapper{background: #fff;}


.mui-bar .mui-tab-item .mui-btn{width: 80%;}
