<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gewei.mapper.OrderInfoMapper">
	
	
	<!-- 中枢系统，订单列表，订单类型 -->
	<select id="getOrderTypeList" resultType="java.util.HashMap">
		SELECT
			CATEGORY_ID,CATEGORY_NAME
		FROM
			t_merchant_product_category
		WHERE
			STATUS = '01' AND PARENT_CATEGORY_ID in ('ROOTCP','0') AND CATEGORY_ID != 'ROOTCP'
	</select>
	
	<!-- 订单总数 -->
	<select id="getOrderTotalNum" resultType="long">
		SELECT T.count_cx + T.count_cp + T.count_sx FROM 
		(SELECT
			(SELECT COUNT(*) FROM order_cx) count_cx,
			(SELECT COUNT(*) FROM order_info) count_cp,
			(SELECT COUNT(*) FROM order_sx) count_sx
		 ) AS T
	</select>
	
	<!-- 成交总量，金额 -->
	<select id="getOrderTotalMoney" resultType="long">
		SELECT T.count_cx + T.count_cp + T.count_sx FROM 
		(SELECT
			(SELECT COUNT(*) FROM order_cx) count_cx,
			(SELECT COUNT(*) FROM order_info) count_cp,
			(SELECT COUNT(*) FROM order_sx) count_sx
		) AS T
	</select>
	
	<!-- 昨日订单数 -->
	<select id="getYesterdayOrderTotalNum" resultType="long" >
		SELECT T.count_cx + T.count_cp + T.count_sx FROM 
		(SELECT
			(SELECT COUNT(*) FROM order_cx WHERE <![CDATA[ CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]>) count_cx,
			(SELECT COUNT(*) FROM order_info WHERE <![CDATA[ CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]>) count_cp,
			(SELECT COUNT(*) FROM order_sx WHERE <![CDATA[ CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]>) count_sx
		) AS T
	</select>
	
	<!-- 昨日成交数 -->
	<select id="getYesterdayOrderTotalMoney" resultType="long">
		SELECT T.count_cx + T.count_cp + T.count_sx FROM 
		(SELECT
			(SELECT COUNT(*) FROM order_cx WHERE ORDER_FLAG = '02' <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]>) count_cx,
			(SELECT COUNT(*) FROM order_info WHERE ORDER_FLAG = '02' <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]>) count_cp,
			(SELECT COUNT(*) FROM order_sx WHERE ORDER_FLAG in ('03','07','10','12' ) <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]>) count_sx
		) AS T
	</select>
	
	<!-- 各类型订单昨日成交数 -->
	<select id="getYesterdayOrderNumOfAllOrderType" resultType="Map" >
		SELECT
		(SELECT COUNT(*) FROM order_cx WHERE ORDER_FLAG = '02' <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]> ) CCBXOrderTotalNum,
		(SELECT COUNT(*) FROM order_sx WHERE ORDER_FLAG = '02' <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]> ) RSBXOrderTotalNum,
		(SELECT COUNT(*) FROM order_info WHERE ORDER_FLAG = '03' AND ORDER_TYPE = 'ROOTDK'  <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]> ) DKYWOrderTotalNum,
		(SELECT COUNT(*) FROM order_info WHERE ORDER_FLAG = '07' AND ORDER_TYPE = 'ROOTLC'  <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]> ) LCCPOrderTotalNum,
		(SELECT COUNT(*) FROM order_info WHERE ORDER_FLAG = '10' AND ORDER_TYPE = 'ROOTQC'  <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]> ) ESQCOrderTotalNum, 
		(SELECT COUNT(*) FROM order_info WHERE ORDER_FLAG = '12' AND ORDER_TYPE = 'ROOTCD'  <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]> ) CWDBOrderTotalNum, 
		(SELECT COUNT(*) FROM order_info WHERE ORDER_FLAG = '12' AND ORDER_TYPE = 'ROOTCM'  <![CDATA[ AND CREATE_TIME <= #{endTime} AND CREATE_TIME >= #{startTime} ]]> ) QCMROrderTotalNum
	</select>
	
	<select id="getOrderInsDataGridGroupByProvince" resultType="Map">
		SELECT
		MERCHANT_ID as orderId, MERCHANT_NAME as merchantName, MERCHANT_TYPE as merchantType,
		GRANT_AREA as grantArea, STATUS as status, CREATE_TIME as createTime,
		MERCHANT_DESCRIPT as merchantDescript,PROVINCE as province, CITY as city,COUNTRY as country,
		MERCHANT_ADDR as merchantAddr, TELPHONE as telphone
		FROM
		t_merchant_manage
	</select>
	
	<select id="orderListGroupByProvince" resultType="Map">
		SELECT
		MERCHANT_ID as orderId, MERCHANT_NAME as merchantName, MERCHANT_TYPE as merchantType,
		GRANT_AREA as grantArea, STATUS as status, CREATE_TIME as createTime,
		MERCHANT_DESCRIPT as merchantDescript, PROVINCE as province, CITY as city,COUNTRY as country,
		MERCHANT_ADDR as merchantAddr,TELPHONE as telphone
		FROM
		t_merchant_manage
	</select>
	
	<!-- 中枢系统接口 -->
	<select id="selectOtherList" resultType="map">
		SELECT
			t.ORDER_ID AS orderId,
			t.CREATE_TIME AS createTime,
			t.ORDER_TYPE AS orderType,
			m.category_name as orderTypeName,
			p.USER_NAME as customerName,
			s.user_name as salesMan,
			f.MERCHANT_NAME as merchantName,
			p.PROVINCE as province,
			p.CITY as city,
			p.COUNTRY as country,
			t.ORDER_FLAG AS orderFlag
		FROM
			order_info t
		LEFT JOIN t_customer_basicinfo p ON t.USER_ID = p.USER_ID
		LEFT JOIN t_merchant_manage f ON t.MERCHANT_ID = f.MERCHANT_ID
		LEFT JOIN t_member_basicinfo s ON t.sales_man = s.USER_ID
		LEFT JOIN t_merchant_product_category m ON t.order_type = m.category_id
		<where>
			t.ORDER_ID is not null
			<if test=" createStartTime != null and createStartTime != '' ">
               <![CDATA[ and t.CREATE_TIME >= #{createStartTime}  ]]>
			</if>
			<if test=" createEndTime != null and createEndTime != '' ">
                <![CDATA[ and t.CREATE_TIME <= #{createEndTime} ]]>
			</if>
			<if test=" province != null and province != '' ">
                 <![CDATA[ and p.PROVINCE = #{province}  ]]>
			</if>
			<if test=" city != null and city != '' ">
                <![CDATA[ and p.CITY = #{city}  ]]>
			</if>
			<if test=" country != null and country != '' ">
                 <![CDATA[ and p.COUNTRY = #{country}  ]]>
			</if>
			<if test=" orderTypeQuery != null and orderTypeQuery != '' ">
                 <![CDATA[ and t.ORDER_TYPE = #{orderTypeQuery}  ]]>
			</if>
			<if test=" keywordInfo != null and keywordInfo != '' ">
                 <![CDATA[ and ${keywordType} like CONCAT('%',#{keywordInfo},'%')  ]]>
			</if>
		</where>
		
		limit #{start},#{rows}
	</select>
	
	<!-- 中枢系统接口 -->
	<select id="getOtherOrderCount" resultType="Integer">
		SELECT
			count(*)
		FROM
			order_info t
		LEFT JOIN t_customer_basicinfo p ON t.USER_ID = p.USER_ID
		LEFT JOIN t_merchant_manage f ON t.MERCHANT_ID = f.MERCHANT_ID
		LEFT JOIN t_member_basicinfo s ON t.sales_man = s.USER_ID
		LEFT JOIN t_merchant_product_category m ON t.order_type = m.category_id
		<where>
			t.ORDER_ID is not null
			<if test=" createStartTime != null and createStartTime != '' ">
               <![CDATA[ and t.CREATE_TIME >= #{createStartTime}  ]]>
			</if>
			<if test=" createEndTime != null and createEndTime != '' ">
                <![CDATA[ and t.CREATE_TIME <= #{createEndTime} ]]>
			</if>
			<if test=" province != null and province != '' ">
                 <![CDATA[ and p.PROVINCE = #{province}  ]]>
			</if>
			<if test=" city != null and city != '' ">
                <![CDATA[ and p.CITY = #{city}  ]]>
			</if>
			<if test=" country != null and country != '' ">
                 <![CDATA[ and p.COUNTRY = #{country}  ]]>
			</if>
			<if test=" orderTypeQuery != null and orderTypeQuery != '' ">
                 <![CDATA[ and t.ORDER_TYPE = #{orderTypeQuery}  ]]>
			</if>
			<if test=" keywordInfo != null and keywordInfo != '' ">
                 <![CDATA[ and ${keywordType} like CONCAT('%',#{keywordInfo},'%')  ]]>
			</if>
		</where>
	</select>
	
</mapper>
