<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gewei.mapper.ParameterMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gewei.model.Parameter">
		<id column="ID" property="id" />
		<result column="RELATION_ID" property="relationId" />
		<result column="NAME" property="name" />
		<result column="SEQ" property="seq" />
		<result column="DESCRIPTION" property="description" />
		<result column="TYPE" property="type" />
		<result column="STATUS" property="status" />
	</resultMap>
	<select id="selectPage" resultType="Map">
		SELECT
			t.ID as id,
			t.RELATION_ID as relationId,
			t.NAME as name,
			t.SEQ as seq,
			t.DESCRIPTION as description,
			t.TYPE as type,
			t.STATUS as status
		FROM
			parameter t 
		<where>
            <if test=" type != null and type != '' ">
                  t.type = #{type}
            </if>
        </where>
	</select>
</mapper>
