<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gewei.mapper.TAccountFlowMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gewei.model.TAccountFlow">
		<id column="ID" property="id" />
		<result column="FLOW_ID" property="flowId" />
		<result column="ORDER_TYPE" property="orderType" />
		<result column="BEFORE_VALUE" property="beforeValue" />
		<result column="TRADE_TYPE" property="tradeType" />
		<result column="TRADE_VALUE" property="tradeValue" />
		<result column="AFTER_VALUE" property="afterValue" />
		<result column="BANK_HOST_NAME" property="bankHostName" />
		<result column="BANK_CARD_ID" property="bankCardId" />
		<result column="STATUS" property="status" />
		<result column="PERSON_ID" property="personId" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	<select id="selectPage" resultType="Map">
		SELECT
			t.ID as id,
			t.FLOW_ID as flowId,
			t.ORDER_TYPE as orderType,
			t.BEFORE_VALUE as beforeValue,
			t.TRADE_TYPE as tradeType,
			t.TRADE_VALUE as tradeValue,
			t.AFTER_VALUE as afterValue,
			t.BANK_HOST_NAME as bankHostName,
			t.BANK_CARD_ID as bankCardId,
			t.STATUS as status,
			t.PERSON_ID as personId,
			t.UPDATE_TIME as updateTime,
			m.CATEGORY_NAME as orderTypeName
		FROM
			t_account_flow t 
			LEFT JOIN t_merchant_product_category m ON t.ORDER_TYPE = m.category_id
		<where>
            <if test=" personId != null and personId != '' ">
                  t.PERSON_ID = #{personId}
            </if>
        </where>
	</select>

</mapper>
