<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gewei.mapper.TChinaAreaMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gewei.model.TChinaArea">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PID" property="pid" />
	</resultMap>
	<select id="selectJson" resultType="java.util.LinkedHashMap">
		SELECT 
			t.id,
			t.name
		FROM
		    t_china_area t
	</select>
</mapper>
