<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gewei.mapper.TCustomerBasicinfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gewei.model.TCustomerBasicinfo">
		<id column="USER_ID" property="userId" />
		<result column="USER_NAME" property="userName" />
		<result column="TELEPHONE" property="telephone" />
		<result column="ORGANIZATIONS" property="organizations" />
		<result column="SEX" property="sex" />
		<result column="CARD_TYPE" property="cardType" />
		<result column="CARD_ID" property="cardId" />
		<result column="MARRY_FLAG" property="marryFlag" />
		<result column="SOCIAL_FLAG" property="socialFlag" />
		<result column="HOUSE_FLAG" property="houseFlag" />
		<result column="HOUSE_AREA" property="houseArea" />
		<result column="INCOME" property="income" />
		<result column="WORK_TYPE" property="workType" />
		<result column="CAR_FLAG" property="carFlag" />
		<result column="CAR_NUM" property="carNum" />
		<result column="CAR_FRAME_NUM" property="carFrameNum" />
		<result column="CAR_TYPE" property="carType" />
		<result column="CAR_DISTANCE" property="carDistance" />
		<result column="ENGINE_NUM" property="engineNum" />
		<result column="CHANG_TYPE" property="changType" />
		<result column="TRAFFIC_INS_START_TIME" property="trafficInsStartTime" />
		<result column="BUSINESS_INS_START_TIME" property="businessInsStartTime" />
		<result column="REGISTER_TIME" property="registerTime" />
		<result column="EXAMINE_TIME" property="examineTime" />
		<result column="STATUS" property="status" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="REMARK1" property="remark1" />
		<result column="REMARK2" property="remark2" />
	</resultMap>
	
	<select id="getCustomerInfoByUserId" resultMap="BaseResultMap" resultType="com.gewei.model.TCustomerBasicinfo">
		select * from t_customer_basicinfo where USER_ID = #{customerId}
	</select>
	
	<!-- 订单编辑信息，类型：客户信息 -->
	<update id="editCustomerInfo" parameterType="com.gewei.model.vo.EditOrderInfo">
		UPDATE t_customer_basicinfo SET UPDATE_TIME = #{updateTime}
			<if test=" userName != null and userName != '' ">
				<![CDATA[ ,USER_NAME = #{userName} ]]>
			</if>
			<if test=" telephone != null and telephone != '' ">
				<![CDATA[ ,TELEPHONE = #{telephone} ]]>
			</if>
			<if test=" detailAddr != null and detailAddr != '' ">
				<![CDATA[ ,DETAIL_ADDR = #{detailAddr} ]]>
			</if>
			<if test=" province != null and province != '' ">
				<![CDATA[ ,PROVINCE = #{province} ]]>
			</if>
			<if test=" city != null and city != '' ">
				<![CDATA[ ,CITY = #{city} ]]>
			</if>
			<if test=" country != null and country != '' ">
				<![CDATA[ ,COUNTRY = #{country} ]]>
			</if>
			<if test=" cardType != null and cardType != '' ">
				<![CDATA[ ,CARD_TYPE = #{cardType} ]]>
			</if>
			<if test=" cardId != null and cardId != '' ">
				<![CDATA[ ,CARD_ID = #{cardId} ]]>
			</if>
			<if test=" marryFlag != null and marryFlag != '' ">
				<![CDATA[ ,MARRY_FLAG = #{marryFlag} ]]>
			</if>
			<if test=" socialFlag != null and socialFlag != '' ">
				<![CDATA[ ,SOCIAL_FLAG = #{socialFlag} ]]>
			</if>
			<if test=" houseFlag != null and houseFlag != '' ">
				<![CDATA[ ,HOUSE_FLAG = #{houseFlag} ]]>
			</if>
			<if test=" inCome != null and inCome != '' ">
				<![CDATA[ ,INCOME = #{inCome} ]]>
			</if>
			<if test=" workType != null and workType != '' ">
				<![CDATA[ ,WORK_TYPE = #{workType} ]]>
			</if>
			<if test=" carFlag != null and carFlag != '' ">
				<![CDATA[ ,CAR_FLAG = #{carFlag} ]]>
			</if>
			<if test=" carNum != null and carNum != '' ">
				<![CDATA[ ,CAR_NUM = #{carNum} ]]>
			</if>
			<if test=" carFrameNum != null and carFrameNum != '' ">
				<![CDATA[ ,CAR_FRAME_NUM = #{carFrameNum} ]]>
			</if>
			<if test=" engineNum != null and engineNum != '' ">
				<![CDATA[ ,ENGINE_NUM = #{engineNum} ]]>
			</if>
			<if test=" changType != null and changType != '' ">
				<![CDATA[ ,CHANG_TYPE = #{changType} ]]>
			</if>
			<if test=" registerTime != null and registerTime != '' ">
				<![CDATA[ ,REGISTER_TIME = #{registerTime} ]]>
			</if>
			<if test=" examineTime != null and examineTime != '' ">
				<![CDATA[ ,EXAMINE_TIME = #{examineTime} ]]>
			</if>
			<if test=" trafficInsStartTime != null and trafficInsStartTime != '' ">
				<![CDATA[ ,TRAFFIC_INS_START_TIME = #{trafficInsStartTime} ]]>
			</if>
			<if test=" trafficInsEndTime != null and trafficInsEndTime != '' ">
				<![CDATA[ ,BUSINESS_INS_START_TIME = #{trafficInsEndTime} ]]>
			</if>
			<if test=" businessInsStartTime != null and businessInsStartTime != '' ">
				<![CDATA[ ,BUSINESS_INS_START_TIME = #{businessInsStartTime} ]]>
			</if>
			<if test=" carType != null and carType != '' ">
				<![CDATA[ ,CAR_TYPE = #{carType} ]]>
			</if>
			<if test=" carDistance != null and carDistance != '' ">
				<![CDATA[ ,CAR_DISTANCE = #{carDistance} ]]>
			</if>
			<if test=" HOUSE_AREA_PROVINCE != null and HOUSE_AREA_PROVINCE != '' ">
				<![CDATA[ ,HOUSE_AREA_PROVINCE = #{HOUSE_AREA_PROVINCE} ]]>
			</if>
			<if test=" HOUSE_AREA_CITY != null and HOUSE_AREA_CITY != '' ">
				<![CDATA[ ,HOUSE_AREA_CITY = #{HOUSE_AREA_CITY} ]]>
			</if>
			<if test=" HOUSE_AREA_COUNTRY != null and HOUSE_AREA_COUNTRY != '' ">
				<![CDATA[ ,HOUSE_AREA_COUNTRY = #{HOUSE_AREA_COUNTRY} ]]>
			</if>
		WHERE 
			USER_ID = #{customerId}
	</update>
	<update id="updateCustomerStatus" parameterType="com.gewei.model.TCustomerBasicinfo">
		UPDATE t_customer_basicinfo SET UPDATE_TIME = #{updateTime},STATUS = #{status} 
		WHERE  USER_ID = #{userId}
	</update>
</mapper>
